
.home {
    background-image: url('https://e0.pxfuel.com/wallpapers/850/829/desktop-wallpaper-e-commerce-web-designing-development-company-e-commerce.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #fff;
    text-align: center;
    padding: 5rem 0;
  }
  