body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .todo-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    background-color: #b5e1c0; 
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .todo-input-container input {
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    flex-grow: 1;
    background-color: #b5e1c0; 
    color: black;
  }
  
  .todo-input-container button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: white; 
    padding: 0.5rem;
    border-radius: 4px;
  }
  
  .todo-item.completed {
    text-decoration: line-through;
    color: green;
  }
  
  .todo-item span {
    flex-grow: 1;
    margin-right: 1rem;
  }
  
  .todo-item button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
  }
  
  .star {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  .show-completed-btn {
    padding: 0.5rem 1rem;
    background-color: #b5e1c0; 
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
  }
  